.root {
  background-color: #eaeaea;
  @apply sticky top-0 z-40 transition-all duration-150;
}

.topBar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  display: flex;
  flex-direction: row;
  background-color: #1795c4;
  color: #fff;
  font-size: 13px;
  padding-top: 5px;
}

.topBarItems {
  display: flex;
  justify-content: center;

  @screen md {
    justify-content: space-between;
    margin-left: 210px;
    flex-grow: 1;
  }
}

.topBarSubItem {
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid white;
}

.topBarSubItem:last-child {
  padding-right: 0;
  border-right: none;
}

.topBarSubItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.phone {
  padding-right: 5px;
  font-weight: 700;
}

.link {
  text-transform: uppercase;
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer;
}

.link:hover {
  @apply text-accents-7;
}

.link:focus {
  @apply outline-none text-accents-2;
}

.logo {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 6;

  @screen lg {
    top: 0;
  }
}

/* .logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
} */
