.root {
  width: 100%;
  background-color: #525252;
}

.footerBrand {
  background-color: #313131;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-right: 25px;
  text-align: center;
}

.footerPhone {
  display: block;
  width: 100%;
  margin-top: 50px;
  font-weight: 700;
  font-size: 12px;
}

.footerOpenHours {
  font-size: 12px;
  font-weight: 700;
  display: block;
}

.footerLinks {
  background-color: #525252;
  padding-left: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  @screen lg {
    padding-left: 40px;
  }
}

.footerHeading {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 14px;
  color: #acacac;
  font-weight: 700;
}

.footerNewsletterText {
  font-size: 12px;
  padding-left: 12px;
}

.link {
  & > svg {
    @apply transform duration-75 ease-linear;
  }

  &:hover > svg {
    @apply scale-110;
  }
}
