.fit {
  min-height: calc(100vh - 88px);
}

.page-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

.page-content p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.page-content strong {
  font-weight: 600;
}

.page-content ul {
  list-style-type: disc;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 20px;
}

.page-content li {
  padding-left: 10px;
}
